.one{
    background-color: aqua;
    height: 275px;
}
.two{
    background-color: blue;
    height: 275px;
}
.three{
    background-color: yellow;
    height: 275px;
}  
.four{
    background-color: violet;
    height: 100px;
} 